// Override variables with that file
@import '_custom'; // Keep that for back-compatibility. This shouldn't be used anymore.

$dark-color-primary: #4ea483;; // https://irocore.com/aofuji/
$dark-color-secondary: #45c5a3; // kai https://irocore.com/fujimurasaki/

$dark-color-bg: #17191c;
$dark-color-divider: #111; // Discord
