$dark-color-primary: #4ea483; // https://irocore.com/aofuji/
$dark-color-secondary: #45c5a3; // kai https://irocore.com/fujimurasaki/

$dark-color-bg: #17191c;
$dark-header-bg: #132d2d;
$dark-color-divider: #222;
$dark-highlight: adjust-hue(lighten($dark-header-bg, 60), -120);
$mon-jaune: #f3ec78;

@mixin lighting-border {
  border:none;
  border-image-source: linear-gradient(to left, $dark-header-bg, $dark-highlight, $dark-header-bg );
  border-image-slice: 1;
}

@mixin text-degrade {
  background: linear-gradient(45deg, $dark-color-secondary, $mon-jaune);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}
